* {
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.custom-link {
    text-decoration: none;
}

.el-container {
    height: calc(100vh - 1rem);
    font-family: Arial, sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.header {
    /* margin-bottom: 20px; */
}

.el-main {
    background-color: #f9f9f9;
}

.el-aside {
    width: 16%;
}

.main-container {
    display: flex;
}

.footer-content {
    text-align: center;
    padding: 10px;
}

.font-weight-bold {
    font-weight: 700 !important;
}
